<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.BlankFillingJunctionMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.BlankFillingJunction">
    <id column="Exam_ID" jdbcType="INTEGER" property="examId" />
    <id column="Blank_Filling_Question_ID" jdbcType="INTEGER" property="blankFillingQuestionId" />
    <result column="Orders" jdbcType="INTEGER" property="orders" />
  </resultMap>
  <sql id="Base_Column_List">
    Exam_ID, Blank_Filling_Question_ID, Orders
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingJunctionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blank_filling_junction
    where Exam_ID = #{examId,jdbcType=INTEGER}
      and Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
  </select>
  <select id="findAllBlankFillingQuestionOfExam" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blank_filling_junction
    where Exam_ID = #{examId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingJunctionKey">
    delete from blank_filling_junction
    where Exam_ID = #{examId,jdbcType=INTEGER}
      and Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gdut.ExamSystem.model.BlankFillingJunction">
    insert into blank_filling_junction (Exam_ID, Blank_Filling_Question_ID, Orders
      )
    values (#{examId,jdbcType=INTEGER}, #{blankFillingQuestionId,jdbcType=INTEGER}, #{orders,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.BlankFillingJunction">
    insert into blank_filling_junction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        Exam_ID,
      </if>
      <if test="blankFillingQuestionId != null">
        Blank_Filling_Question_ID,
      </if>
      <if test="orders != null">
        Orders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="blankFillingQuestionId != null">
        #{blankFillingQuestionId,jdbcType=INTEGER},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdut.ExamSystem.model.BlankFillingJunction">
    update blank_filling_junction
    <set>
      <if test="orders != null">
        Orders = #{orders,jdbcType=INTEGER},
      </if>
    </set>
    where Exam_ID = #{examId,jdbcType=INTEGER}
      and Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingJunction">
    update blank_filling_junction
    set Orders = #{orders,jdbcType=INTEGER}
    where Exam_ID = #{examId,jdbcType=INTEGER}
      and Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
  </update>
</mapper>