<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.BlankFillingAnswerOfStudentMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudent">
    <id column="Blank_Filling_Answer_ID" jdbcType="INTEGER" property="blankFillingAnswerId" />
    <id column="Orders" jdbcType="INTEGER" property="orders" />
    <result column="Answer" jdbcType="VARCHAR" property="answer" />
  </resultMap>
  <sql id="Base_Column_List">
    Blank_Filling_Answer_ID, Orders, Answer
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudentKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blank_filling_answer_of_student
    where Blank_Filling_Answer_ID = #{blankFillingAnswerId,jdbcType=INTEGER}
      and Orders = #{orders,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudentKey">
    delete from blank_filling_answer_of_student
    where Blank_Filling_Answer_ID = #{blankFillingAnswerId,jdbcType=INTEGER}
      and Orders = #{orders,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="blankFillingAnswerId" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudent">
    insert into blank_filling_answer_of_student (Blank_Filling_Answer_ID, Orders, Answer
      )
    values (#{blankFillingAnswerId,jdbcType=INTEGER}, #{orders,jdbcType=INTEGER}, #{answer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudent">
    insert into blank_filling_answer_of_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blankFillingAnswerId != null">
        Blank_Filling_Answer_ID,
      </if>
      <if test="orders != null">
        Orders,
      </if>
      <if test="answer != null">
        Answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blankFillingAnswerId != null">
        #{blankFillingAnswerId,jdbcType=INTEGER},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudent">
    update blank_filling_answer_of_student
    <set>
      <if test="answer != null">
        Answer = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where Blank_Filling_Answer_ID = #{blankFillingAnswerId,jdbcType=INTEGER}
      and Orders = #{orders,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerOfStudent">
    update blank_filling_answer_of_student
    set Answer = #{answer,jdbcType=VARCHAR}
    where Blank_Filling_Answer_ID = #{blankFillingAnswerId,jdbcType=INTEGER}
      and Orders = #{orders,jdbcType=INTEGER}
  </update>
</mapper>