<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.BlankFillingAnswerMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.BlankFillingAnswer">
    <id column="Blank_Filling_Question_ID" jdbcType="INTEGER" property="blankFillingQuestionId" />
    <id column="orders" jdbcType="INTEGER" property="orders" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gdut.ExamSystem.model.BlankFillingAnswer">
    <result column="Answer" jdbcType="LONGVARCHAR" property="answer" />
  </resultMap>
  <sql id="Base_Column_List">
    Blank_Filling_Question_ID, orders
  </sql>
  <sql id="Blob_Column_List">
    Answer
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blank_filling_answer
    where Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
      and orders = #{orders,jdbcType=INTEGER}
  </select>
  <select id="selectByQuestionId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blank_filling_answer
    where Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswerKey">
    delete from blank_filling_answer
    where Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
      and orders = #{orders,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswer">
    insert into blank_filling_answer (Blank_Filling_Question_ID, orders, Answer
      )
    values (#{blankFillingQuestionId,jdbcType=INTEGER}, #{orders,jdbcType=INTEGER}, #{answer,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswer">
    insert into blank_filling_answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blankFillingQuestionId != null">
        Blank_Filling_Question_ID,
      </if>
      <if test="orders != null">
        orders,
      </if>
      <if test="answer != null">
        Answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blankFillingQuestionId != null">
        #{blankFillingQuestionId,jdbcType=INTEGER},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswer">
    update blank_filling_answer
    <set>
      <if test="answer != null">
        Answer = #{answer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
      and orders = #{orders,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gdut.ExamSystem.model.BlankFillingAnswer">
    update blank_filling_answer
    set Answer = #{answer,jdbcType=LONGVARCHAR}
    where Blank_Filling_Question_ID = #{blankFillingQuestionId,jdbcType=INTEGER}
      and orders = #{orders,jdbcType=INTEGER}
  </update>
</mapper>