<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.Student">
    <result column="STUDENTID" jdbcType="DECIMAL" property="studentid" />
    <result column="EXAMINEENUMBER" jdbcType="DECIMAL" property="examineenumber" />
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="CLASSES" jdbcType="DECIMAL" property="classes" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
  </resultMap>
  <insert id="insert" parameterType="com.gdut.ExamSystem.model.Student">
    insert into STUDENT (STUDENTID, EXAMINEENUMBER, ID, 
      NAME, SEX, GRADE, MAJOR, 
      CLASSES, PASSWORD, SCORE
      )
    values (
        #{studentid,jdbcType=DECIMAL},
        #{examineenumber,jdbcType=DECIMAL},
        #{id,jdbcType=DECIMAL}, 
        #{name,jdbcType=VARCHAR}, 
        #{sex,jdbcType=VARCHAR}, 
        #{grade,jdbcType=DECIMAL}, 
        #{major,jdbcType=VARCHAR}, 
        #{classes,jdbcType=DECIMAL},
        #{password,jdbcType=VARCHAR},
        #{score,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.Student">
    insert into STUDENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        STUDENTID,
      </if>
      <if test="examineenumber != null">
        EXAMINEENUMBER,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="major != null">
        MAJOR,
      </if>
      <if test="classes != null">
        CLASSES,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="score != null">
        SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=DECIMAL},
      </if>
      <if test="examineenumber != null">
        #{examineenumber,jdbcType=DECIMAL},
      </if>
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DECIMAL},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=DECIMAL},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.gdut.ExamSystem.model.Student">
           update Student set 
              examineenumber = #{examineenumber},
              id=#{id},
              name = #{name},
              sex=#{sex},
              grade=#{grade},
              major=#{major},
              classes=#{classes},
              password = #{password}, 
              score=#{score}
            where studentID = #{studentID};
  </update>
  <update id="updateSelective" parameterType="com.gdut.ExamSystem.model.Student">
     
  </update>
  
  <delete id="delete" parameterType="com.gdut.ExamSystem.model.Student">
           delete * from student where studentID = #{studentID};
  </delete>
  <select id="select" parameterType="com.gdut.ExamSystem.model.Student">
           select * from student where studentID=#{studentID};
  </select>  
</mapper>