<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.Student">
    <id column="Student_ID" jdbcType="BIGINT" property="studentId" />
    <result column="Examinee_Number" jdbcType="BIGINT" property="examineeNumber" />
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="Major" jdbcType="VARCHAR" property="major" />
    <result column="classes" jdbcType="INTEGER" property="classes" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    Student_ID, Examinee_Number, ID, Name, SEX, grade, Major, classes, Password
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from student
    where Student_ID = #{studentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gdut.ExamSystem.model.Student">
    insert into student (Student_ID, Examinee_Number, ID, 
      Name, SEX, grade, Major, 
      classes, Password)
    values (#{studentId,jdbcType=BIGINT}, #{examineeNumber,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, #{major,jdbcType=VARCHAR}, 
      #{classes,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        Student_ID,
      </if>
      <if test="examineeNumber != null">
        Examinee_Number,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="major != null">
        Major,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="password != null">
        Password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="examineeNumber != null">
        #{examineeNumber,jdbcType=BIGINT},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdut.ExamSystem.model.Student">
    update student
    <set>
      <if test="examineeNumber != null">
        Examinee_Number = #{examineeNumber,jdbcType=BIGINT},
      </if>
      <if test="id != null">
        ID = #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="major != null">
        Major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where Student_ID = #{studentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdut.ExamSystem.model.Student">
    update student
    set Examinee_Number = #{examineeNumber,jdbcType=BIGINT},
      ID = #{id,jdbcType=BIGINT},
      Name = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      Major = #{major,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=INTEGER},
      Password = #{password,jdbcType=VARCHAR}
    where Student_ID = #{studentId,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where Student_ID = #{studentId,jdbcType=BIGINT}
  </select>
  <select id="selectClassesByMajor" parameterType="java.lang.String" resultType="java.lang.Integer">
    select distinct Classes from student
    where Major = #{major,jdbcType=VARCHAR}
  </select>
  <select id="selectAllMajor" resultType="java.lang.String">
    select distinct  Major from student
  </select>
  <select id="selectSelective" parameterType="com.gdut.ExamSystem.model.Student" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    <where>
      <trim suffixOverrides="and">
        <if test="examineeNumber != null">
          Examinee_Number = #{examineeNumber,jdbcType=BIGINT} and
        </if>
        <if test="id != null">
          ID = #{id,jdbcType=BIGINT} and
        </if>
        <if test="name != null">
          Name = #{name,jdbcType=VARCHAR} and
        </if>
        <if test="sex != null">
          SEX = #{sex,jdbcType=VARCHAR} and
        </if>
        <if test="grade != null">
          grade = #{grade,jdbcType=INTEGER} and
        </if>
        <if test="major != null">
          Major = #{major,jdbcType=VARCHAR} and
        </if>
        <if test="classes != null">
          classes = #{classes,jdbcType=INTEGER} and
        </if>
        <if test="password != null">
          Password = #{password,jdbcType=VARCHAR} and
        </if>
        
      </trim>
    </where>
  </select>
</mapper>