<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.StudentExamJunctionMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.StudentExamJunction">
    <result column="Student_ID" jdbcType="BIGINT" property="studentId" />
    <result column="Exam_ID" jdbcType="INTEGER" property="examId" />
  </resultMap>
  <insert id="insert" parameterType="com.gdut.ExamSystem.model.StudentExamJunction">
    insert into student_exam_junction (Student_ID, Exam_ID)
    values (#{studentId,jdbcType=BIGINT}, #{examId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.StudentExamJunction">
    insert into student_exam_junction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        Student_ID,
      </if>
      <if test="examId != null">
        Exam_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="examId != null">
        #{examId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>