<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.ExamSystem.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.gdut.ExamSystem.model.Student">
    <result column="STUDENTID" jdbcType="BIGINT" property="studentid" />
    <result column="EXAMINEENUMBER" jdbcType="DECIMAL" property="examineenumber" />
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="CLASSES" jdbcType="DECIMAL" property="classes" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
  </resultMap>
  <insert id="insert" parameterType="com.gdut.ExamSystem.model.Student">
    insert into STUDENT (STUDENTID, EXAMINEENUMBER, ID, 
      NAME, SEX, GRADE, MAJOR, 
      CLASSES, PASSWORD, SCORE
      )
    values (
        #{studentid,jdbcType=DECIMAL},
        #{examineenumber,jdbcType=DECIMAL},
        #{id,jdbcType=DECIMAL}, 
        #{name,jdbcType=VARCHAR}, 
        #{sex,jdbcType=VARCHAR}, 
        #{grade,jdbcType=DECIMAL}, 
        #{major,jdbcType=VARCHAR}, 
        #{classes,jdbcType=DECIMAL},
        #{password,jdbcType=VARCHAR},
        #{score,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdut.ExamSystem.model.Student">
    insert into STUDENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        STUDENTID,
      </if>
      <if test="examineenumber != null">
        EXAMINEENUMBER,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="major != null">
        MAJOR,
      </if>
      <if test="classes != null">
        CLASSES,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="score != null">
        SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=DECIMAL},
      </if>
      <if test="examineenumber != null">
        #{examineenumber,jdbcType=DECIMAL},
      </if>
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DECIMAL},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=DECIMAL},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.gdut.ExamSystem.model.Student">
           update Student set 
              examineenumber = #{examineenumber},
              id=#{id},
              name = #{name},
              sex=#{sex},
              grade=#{grade},
              major=#{major},
              classes=#{classes},
              password = #{password}, 
              score=#{score}
            where studentid = #{studentid}
  </update>
  <update id="updateSelective" parameterType="com.gdut.ExamSystem.model.Student">
    update Student set
     <trim suffix=" " suffixOverrides=",">
        <if test="studentid != null">
          STUDENTID=#{studentid,jdbcType=DECIMAL},
        </if>      
        <if test="examineenumber != null">
          EXAMINEENUMBER=#{examineenumber,jdbcType=DECIMAL},
        </if>
        <if test="id != null">
          ID=#{id,jdbcType=DECIMAL},
        </if>
        <if test="name != null">
          NAME=#{name,jdbcType=VARCHAR},
        </if>
        <if test="sex != null">
          SEX=#{sex,jdbcType=VARCHAR},
        </if>
        <if test="grade != null">
          GRADE= #{grade,jdbcType=DECIMAL},
        </if>
        <if test="major != null">
          MAJOR=#{major,jdbcType=VARCHAR},
        </if>
        <if test="classes != null">
          CLASSES=#{classes,jdbcType=DECIMAL},
        </if>
        <if test="password != null">
          PASSWORD=#{password,jdbcType=VARCHAR},
        </if>
        <if test="score != null">
          SCORE=#{score,jdbcType=DECIMAL},
        </if>
      </trim>
  </update>
  
  <delete id="delete" parameterType="com.gdut.ExamSystem.model.Student">
           delete * from student where STUDENTID = #{studentid}
                                 AND NAME = #{name}
  </delete>
  <delete id="deleteByStudentId" parameterType="java.lang.Long">
           delete * from student where STUDENTID = #{studentid}
  </delete>
  <delete id="deleteByExamineeNumber" parameterType="java.lang.Long">
           delete * from student where EXAMINEENUMBER=#{examineenumber}
  </delete>
  <delete id="deleteByName" parameterType="java.lang.String">
           delete * from student where NAME = #{name}
  </delete>
  <delete id="deleteByMajor" parameterType="java.lang.String">
           delete * from student where MAJOR = #{major}
  </delete>
  <delete id="deleteByClass" parameterType="java.lang.Integer">
           delete * from student where CLASSES=#{classes}
  </delete>
  <delete id="deleteByGrade" parameterType="java.lang.Integer">
           delete * from student where GRADE=#{grade}
  </delete>
  
  <select id="selectAll">
           select * from student
  </select>
  <select id="selectByClass" parameterType="java.lang.Integer">
           select * from student where classes=#{classes}
  </select>
  <select id="selectByName" parameterType="java.lang.String">
           select * from student where name=#{name}
  </select>
  <select id="selectByStudentId" parameterType="java.lang.Long"
          resultType="com.gdut.ExamSystem.model.Student">
           select * from student where studentid=#{studentid}
  </select>
  <select id="selectByExamineeNumber" parameterType="java.lang.Long">
           select * from student where examineenumber=#{examineenumber}
  </select>
  <select id="selectByGrade" parameterType="java.lang.Integer">
           select * from student where grade = #{grade}
  </select>
  <select id="selectByMajor" parameterType="java.lang.String">
           select * from student where major = #{major}
  </select>
  <select id="selectStudentScoreBelow" parameterType="java.lang.Integer">
           select * from student where score&lt;=#{score} order by studentid
  </select>
  <select id="selectStudentScoreHiger" parameterType="java.lang.Integer">
           select * from student where score&gt;=#{score} order by studentid
  </select>
  <select id="selectStudentScoreBetween" >
           select * from student where score&lt;=#{higerScore} AND score&gt;=#{lowScore}
  </select>
</mapper>